@font-face {
    font-family: PFunk;
    src: url(../fonts/Rakoon_PersonalUse.ttf);
}
body, wrapper{
    min-height:100vh;
}
.main-row{
    background:#993D33;   
    background-image: url(../images/rounds2.png);
    width:100%;
   background-repeat: repeat repeat; 
}
/*********************************************/

body{
   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   line-height: 150%;
   color:#777777;/*Soften the font text*/
}
h1{
    font-family: PFunk;
}
h2, h3{  
   font-family: 'Open Sans Condensed', sans-serif;
   color: black;
   font-weight: bold;
}
#instructionOutput, #winsCtrOutput, #hiddenBandNameOutput, #remainingGuessesOutput, #userIncorrectGuessesOutput{
    font-size: 1.375rem;
}
.main-wrapper p{
  margin-bottom:20px; 
  padding-right: 15px;
  padding-left:15px;
  line-height: 175%;
  letter-spacing: -.10px;
  font-size: 1.5rem;
}
/*****************************************************************/
header{
    background: black;
    border-bottom: 1px solid #cccccc;
}
.head1{
   color:white;
   background-color: black;
    padding:30px;
    font-weight: bold;
    margin-bottom:0;
}

.questions{
    /*The border-box value alters the box model so
    that any border or padding property values are 
    included within the width and height of an element.*/
    box-sizing: border-box;
    float: left;
        width: 50%;      
    /****************************/
    padding:0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    overflow:hidden;
}
.answers{
   /* float: left;*/
    margin-top:10px;
    margin-bottom:10px;
    color: white;
}
#imageNameOutput, #songNameOutput, ol{
    text-align:center;
}
#hiddenBandNameOutput{
	letter-spacing: 4px;
}
/*********************************************
NAVBAR
*********************************************/
/*.nav-item{
    display: inline-block;
    margin-left:0;
    margin-right:0;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }
  .nav-item:first-child {
    border-left: 0 none;
  }
  .nav a:link, nav a:visited {
    color: #cccccc;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.nav a{
    padding-left:5px;
    padding-right:5px;
}
.nav a:hover {
    color:#4aaaa5;
}
.nav a:visited{
    color:#377F7C;
}
.nav a:active{
    color:#84F6F1;
}*/
/***************************
MAIN CONTENT
***************************/
/*#profilePic{
    float:left;
    margin:0px 25px 25px 15px;
}*/
/*hr{
    margin:0px 30px 0px 30px;
    padding:0;
    border-style:solid;
    color:#cccccc;
}*/

main{
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;/*Required to display top gray margin*/
    margin-bottom:40px;/*Required to display bottom gray margin, container requires overflow property*/
    background: #ffffff;
    padding:0px 30px;/*Display left/right white padding*/
    
    overflow:hidden;
}
.main-content{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;/*padding-bottom: 15px + margin-bottom: 25px, from profilePic, makes gutter even with h2 padding-top: 40px*/
    background:#993D33; 
    border: 1px solid #dddddd;
}
.main-wrapper{
    padding: 20px;
    
}
/***************************
CONTACT FORM
***************************/
.contact-group{
    padding: 0 15px;
}
.contact-group label {
    color: #4aaaa5;
    cursor: pointer;
    font-weight: 400;
  }
  .contact-group input{
      color: #777777;
  }
  .contact-group input,
  .contact-group select,
  .contact-group textarea {
    border: 1px solid #c6c9cc;
    /*make all the fields block instead of inline*/
    display: block;
    margin: 5px 0 10px 0;
    padding: 5px 8px;
  }
  .contact-group input,
  .contact-group textarea {
    width: 100%;
  }
  .contact-group select {
    height: 34px;
    width: 60px;
  }
  .contact-group textarea {
    height: 78px;
  }
  form{
      margin-bottom:15px;/*15px more is added from main-content padding-bottom:15px, so total bottom margin is 30px*/
  }
/***************************
*BUTTON
***************************/
 .btn-properties{
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
}
.btn-properties:hover{
   background-color: #dddddd;
   color: #4aaaa5;
}

/***************************
FOOTER
***************************/
footer{
    /*background-color:#666666;*/
    background-color:black;
    color:#dddddd;
    text-align:center;
    font-size: 10px;
    font-weight: bold;
    height:50px;
    border-Top: 1px solid #cccccc;
}
.stripe{
    height:12.5px;
    width:100%;
    background: black;
}
footer p{
    padding-top:15px;
    margin:0;
    height:37.5px;
}
.flex-fill {
    flex:1 1 auto;
 }